# Exposome Data Warehouse Demo

## Outline

- 1 [Introduction](#Introduction)
    
    - 1.1 [Understanding the Infrastructure](#AboutInfrastructure)
    - 1.2 [Data Model](#DataModel)


- 2 [About the Data](#AboutData)

Annotated figure abt areas of focus for demo

Data model?
datatable, shapefile, facttable

Screenshots of rows

  - 2.1 [SensorViz](#SensorViz)
  - 2.2 [Vizualize Data with Folium](#FoliumDemo)

Shiny app 

- 3 [API](#API)
    - 3.1 [REST Call](#RESTCall)
    - 3.2 [Format Data with Pandas](#Melt)
    
    
- 4 [Data Analysis with 500Cities Dataset](#500CitiesHeatMap)
    - 4.1 [Linear Mixed Model](#500CitiesModel)

<a id='Introduction'></a>
## 1 Introduction

One of the main hindrances to big data anlyses of environmental data sources is the highly heterogenous nature of the largest data sources. These data can be on varying spatial resolution (e.g. zip code, county, state etc.), coverage across the US (data sparsity), and temporal scale (e.g. daily, monthly, yearly measures). Due to these difficulties, most studies are unable to incorporate many environmental data sources simultaneously in analyses resulting in biases and confounding.

ExposomeDW is a data warehouse which aims to address this problem by unifying heterogeneous environmental data sources under a unified data model. Almost any environmental data source can be parameterized as a function of location and time. With this in mind, we have developed a GeoTemporal PostgreSQL database which leverages the PostGIS extension for doing geometric joins.

This demo will aim to first describe the data sourcs we have integrated, show visualizations of data, and finally demonstrate how to call our API in the context of working with a specific use case, the 500 Cities dataset.

<a id='AboutInfrastructure'></a>
### 1.1 Understanding the Infrastructure

The infrastructure is setup as shown below. We have used three main data sources, EPA, NOAA, and ACS Census data, which we have developed ETL processes for which run on a dedicated AWS server. These get ingested into an Aurora PostrgeSQL, PostGIS enabled instance. What we want to focus on today is the two main ways to interact with this data at the present moment, which are direct access (sending queries directly to our tables) via a database dump onto a personal server and API client access. We have built a API with some basic functionality to make it easier to access data from the database. 

<img src="images/infrastructure_model.png" style="max-width:100%; width: 75%; max-width: none">

<a id='DataModel'></a>
### 1.2 Data Model

Before we interact with the database via queries, it's important to get a brief primer on the basic database schema. The data warehouse consists of three tables: datatable, shapefile, facttable. For those familiar with databases, this is a traditional <b>star schema</b> which consists of a single <b>facttable</b> which houses the actual data measurements from all disparate data sources and two "dimension" tables which consist of the <b> datatable </b> which contains metadata information and the <b> shapefile </b> which contains the geometries which each fact refers to. 

- Consider a concrete example with PM2.5 concentrations which are in the EPA data:
    - a single facttable row would contain the measurement(s) (Arithmetic Mean, 1st Max Hour) in the form of a jsonb object taken during a particular time period
    - that same row would be connected via a foreign key (shape_id) to a particular shape in the shapefile table which, in this case, would be simply a longitude and latitude point geometry describing an EPA sensor
    - that same row would be connected via a foreign key (data_id) to metadata information about each measurement, its units, what kind of measurement and on what scale

<img src="images/data_model.png" style="max-width:100%; width: 75%; max-width: none">

<a id='AboutData'></a>
## 2 About the Data

We have three main data sources that we integrated: 
- [EPA Air Data](https://aqs.epa.gov/aqsweb/airdata/download_files.html)
    - Example Variables: PM2.5 Concentration, Lead, Ozone, other pollutants
    - Temporal Scale: Hourly, Daily, Yearly
    - Spatial Granularity: Sensor Level (Longitude, Latitude)
    - On the order of a billion rows
- [NOAA Weather Data](https://www.ncdc.noaa.gov/data-access/land-based-station-data)
    - Example Variables: AvgTemp, Relative Humidity, Wind Speed
    - Temporal Scale: Daily, Hourly, Monthly
    - Spatial Granularity: Sensor Level (Longitude, Latitude)
    - On the order of hundreds of millions of rows
- [American Community Survey Census Data](https://www.census.gov/programs-surveys/acs/data/summary-file.html)
    - Example Variables: Median Income, Race, Sex by Race
    - Temporal Scale: 5-Year summaries
    - Spatial Granularity: Census Tract, Zipcode, Metropolitan Statistical Area, County, State and more!
    - On the order of a billion rows

Just to get a rough idea of what this data looks like. Let's take a look at the raw rows.

### EPA Raw Data
<img src="images/epa_raw.png" style="max-width:100%; width: 75%; max-width: none">

### NOAA Raw Data
<img src="images/noaa_raw.png" style="max-width:100%; width: 75%; max-width: none">

<a id='SensorViz'></a>
### 2.1 EPA and NOAA Sensors

Let's start working with some data! We have set up a read-only user account with username <b> edw </b> and password <b> edw </b> which will allow you to connect directly to our Aurora instance and run some sample queries. 

The EPA and NOAA data is a collection of sensors where a multitude of these pollutants and weather data is measured. The code below we will connect directly to the database and demonstrate what the data looks like and how you may visualize it.

In [4]:
# Setup imports. If you have run the setup.sh bash script correctly, 
# then you should have all these packages in your virtualenv.

import pandas as pd
import psycopg2
import pandas.io.sql as pdsql

from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData, TEXT, Integer, Table, Column, ForeignKey

from geopandas import GeoSeries, GeoDataFrame, read_file

import numpy as np
import scipy.stats

import folium

import matplotlib
import matplotlib.pyplot as plt

import json

%matplotlib inline  

matplotlib.rcParams['figure.figsize'] = (20.0, 10.0)
engine = create_engine('postgresql://edw:edw@edw.cnn8kf9ztfck.us-east-1.rds.amazonaws.com:5432/chiraglab')
conn = engine.connect()

First, let's just explore a single row of data that is in the facttable.

In [9]:
# Extract a single row of PM2.5 measurement
# First, let's browse through the datatable to find the appropriate data id for PM2.5
datatable_pm25_query = """SELECT * from exposome_pici.datatable 
                        WHERE datasource='EPA' and timeframe='day' and factname ILIKE '%%PM2.5%%';"""
datatable_pm25 = pd.read_sql(datatable_pm25_query, con=engine)

In [10]:
datatable_pm25

,data_id,datasource,timeframe,timeframe_unit,fact_identification,factname,measurement,tags
0,4981,EPA,day,1,88502,Acceptable PM2.5 AQI & Speciation Mass,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[Particulates, Acceptable_PM2.5_AQI_&_Speciati..."
1,5124,EPA,day,1,88110,Cadmium PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPS, HAPs, Cadmium_PM2.5_LC, Environment, da..."
2,5019,EPA,day,1,88128,Lead PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPs, Lead_PM2.5_LC, Environment, day_HAPs_EP..."
3,5018,EPA,day,1,88112,Chromium PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPS, HAPs, Chromium_PM2.5_LC, Environment, d..."
4,5125,EPA,day,1,88105,Beryllium PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPS, HAPs, Environment, Toxics_precursors_le..."
5,5117,EPA,day,1,88101,PM2.5 - Local Conditions,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[PM2.5_FRM/FEM_Mass, Particulates, PM2.5_Local..."
6,5021,EPA,day,1,88136,Nickel PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[Nickel_PM2.5_LC, HAPS, HAPs, Environment, day..."
7,5017,EPA,day,1,88103,Arsenic PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPS, HAPs, Arsenic_PM2.5_LC, Environment, da..."
8,5020,EPA,day,1,88132,Manganese PM2.5 LC,{u'1st_Max_Value': {u'units': u'Micrograms/cub...,"[HAPS, HAPs, Manganese_PM2.5_LC, Environment, ..."

Ok, but now we want to look at PM2.5 in the New York area, perhaps the closest avaiable data point to the current address. We can do this by looking at the shapefile table.

In [20]:
# First, extract the longitude and latitude of this address via a geocoder built into the database
ny_query_geocoding = """SELECT ST_X(g.geomout) AS lon, ST_Y(g.geomout) AS lat 
                        FROM geocode('2950 Broadway New York, NY 10027') as g;"""
ny_lon_lat = pd.read_sql(ny_query_geocoding, con=engine)

In [19]:
ny_lon_lat

         lon        lat
0 -73.963646  40.808171

Next, let's see if we can use the PostGIS functionality to use a nearest neighbors query to find the closest EPA and/or NOAA sensors to this address.

In [133]:
nearest_neighbors_query = """SELECT shape_id, name, geoid, geometrywkt,
                             ST_DISTANCE(geographywkt, ST_POINT(-73.963646, 40.808171)) AS dist_from 
                             FROM exposome_pici.shapefile  
                             WHERE summarylevelid='1000'
                             ORDER BY geographywkt <-> ST_POINT(-73.963646, 40.808171) LIMIT 10"""
# nearest_neighbors_ny = pd.read_sql(nearest_neighbors_query, con=engine)
geo_json_object = GeoDataFrame.from_postgis(nearest_neighbors_query, con=engine, geom_col='geometrywkt')

In [134]:
geo_json_object

,shape_id,name,geoid,geometrywkt,dist_from
0,2657184,EPA Sensor,36_061_0119,POINT (-73.95321 40.81133),947.862065
1,2657271,EPA Sensor,36_061_0135,POINT (-73.94825 40.81976),1828.557332
2,2660461,EPA Sensor,36_061_0079,POINT (-73.93432 40.7997),2647.413214
3,2512868,WBAN_94728,WBAN_94728,POINT (-73.967 40.783),2809.533943
4,2657179,EPA Sensor,36_005_0113,POINT (-73.92612 40.80833),3166.438371
5,2654637,EPA Sensor,36_005_0073,POINT (-73.91 40.811389),4540.551919
6,2658844,EPA Sensor,34_003_0003,POINT (-73.973314 40.852256),4963.123925
7,2658080,EPA Sensor,34_003_0010,POINT (-73.966212 40.853579),5047.230474
8,2657182,EPA Sensor,36_061_0115,POINT (-73.935649 40.84955),5166.502300
9,2654956,EPA Sensor,34_003_0004,POINT (-73.967772 40.854583),5165.819442

Ok, so we found the 10 nearest sensors. We can see that there are lots of EPA sensors in the area, and only a single NOAA sensor. Let's visualize these sensors to see where they are around the area.

In [135]:
# We will use folium to visualize the sensors
mapa = folium.Map([40.808171, -73.963646],
                  zoom_start=11.5,
                  tiles='cartodbpositron')

folium.Marker([40.808171, -73.963646], icon=folium.Icon(color='red')).add_to(mapa)
folium.Circle([40.808171, -73.963646],
                radius=5000,
            color='#3186cc',
            fill_color='#3186cc',
              fill=True
           ).add_to(mapa)

gjson = geo_json_object.to_json()
gjson_dict = json.loads(gjson)

for point in gjson_dict['features']:
    coords = point['geometry']['coordinates']
    if point['properties']['name'] == 'EPA Sensor':
        folium.Marker(coords[::-1], icon=folium.Icon(color='green')).add_to(mapa)
    else:
        folium.Marker(coords[::-1], icon=folium.Icon(color='blue')).add_to(mapa)

mapa

Here, we can see that we have a collection of EPA green sensors and also a single blue sensor whcih is a NOAA sensor in the middle of Central Park. The blue radius circle represents a 5000 (or about 3 mile) radius around the red point for scale. Ok, now that we have these sensors, let's see what data on PM2.5 concentrations we can extract from them.

In [152]:
data_id = '5117' # PM2.5 data_id
shape_id = '2657184' # closest EPA sensor shape_id

epa_facttable_query = """SELECT * FROM exposome_pici.facttable
                         WHERE data_id='5117' AND shape_id='2657184'
                         limit 10"""
pm25_facttable_rows = pd.read_sql(epa_facttable_query, con=engine)

In [153]:
pm25_facttable_rows

Empty DataFrame
Columns: [fact_id, data_id, startdate, enddate, locationid, shape_id, datasource, data]
Index: []

Interesting, we didn't get any data back. Why? Well, the EPA sensors don't have coverage for all the parameters. Some sensors only record a very specific set of parameters, but this can vary completely depending on the sensor. How do we resolve this? Well, that's why we extract the sensors in a 3 mile radius! One of them should have data. Let's try the third closest sensor.

In [160]:
data_id = '5117' # PM2.5 data_id
shape_id = '2660461' # closest EPA sensor shape_id

epa_facttable_query = """SELECT * FROM exposome_pici.facttable
                         WHERE data_id='5117' AND shape_id='2660461'
                         AND startdate >= '2016-01-01' and enddate <= '2017-12-31'"""
pm25_facttable_rows = pd.read_sql(epa_facttable_query, con=engine)

In [162]:
pm25_facttable_rows.head()

,fact_id,data_id,startdate,enddate,locationid,shape_id,datasource,data
0,4164051580,5117,2016-01-01,2016-01-01 23:59:59,36_061_0079,2660461,EPA,"{u'1st_Max_Value': {u'data': {u'value': 0.0}},..."
1,4164051581,5117,2016-01-04,2016-01-04 23:59:59,36_061_0079,2660461,EPA,"{u'1st_Max_Value': {u'data': {u'value': 3.3}},..."
2,4164051582,5117,2016-01-07,2016-01-07 23:59:59,36_061_0079,2660461,EPA,{u'1st_Max_Value': {u'data': {u'value': 23.2}}...
3,4164051583,5117,2016-01-10,2016-01-10 23:59:59,36_061_0079,2660461,EPA,"{u'1st_Max_Value': {u'data': {u'value': 3.5}},..."
4,4164051584,5117,2016-01-13,2016-01-13 23:59:59,36_061_0079,2660461,EPA,"{u'1st_Max_Value': {u'data': {u'value': 6.7}},..."

Great! Looks like we have some data for this sensor. Let's look at a particular data value for one of the rows.

In [165]:
pm25_facttable_rows.iloc[2]['data']

{u'1st_Max_Hour': {u'data': {u'value': 0}},
 u'1st_Max_Value': {u'data': {u'value': 23.2}},
 u'AQI': {u'data': {u'value': 74.0}},
 u'Arithmetic_Mean': {u'data': {u'value': 23.2}},
 u'Measurement_Metadata': {u'data': {u'event_type': u'None',
   u'method_name': u'R & P Model 2025 PM2.5 Sequential w/WINS - GRAVIMETRIC',
   u'method_type': 118.0,
   u'poc': 1,
   u'pollutant_standard': u'PM25 24-hour 2012',
   u'sample_duration': u'24 HOUR'}},
 u'Observation_Count': {u'data': {u'value': 1}},
 u'Observation_Percent': {u'data': {u'value': 100.0}}}

We have lots of different measurements of PM2.5, AQI for that day, as well as measurement metadata for that particular day. You an imagine generating time series graphs with this kind of data to see how it varies. Feel free to play around with this dataframe!

<a id='FoliumDemo'></a>
### 2.2 Vizualize Sensors and Data With Folium

In [17]:
pm25_query = """select county_name, county_geometry, year, AVG(pm25::text::float) 
from non_distinct_county_level_pm25 group by county_name, county_geometry, year;
"""

In [18]:
pm25_gdf = GeoDataFrame.from_postgis(pm25_query, con=engine, geom_col='county_geometry',crs={'init' :'epsg:4326'})

In [ ]:
pm25_gdf.head()

In [ ]:
def add_choropleth(mapobj, gdf, id_field, value_field, name, fill_color = 'YlOrRd', fill_opacity = 0.6, 
                    line_opacity = 0.2, num_classes = 5, classifier = 'Fisher_Jenks'):
    #Allow for 3 Pysal map classifiers to display data
    #Generate list of breakpoints using specified classification scheme. List of breakpoint will be input to choropleth function
    if classifier == 'Fisher_Jenks':
        threshold_scale=ps.esda.mapclassify.Fisher_Jenks(gdf[value_field], k = num_classes).bins.tolist()
    if classifier == 'Equal_Interval':
        threshold_scale=ps.esda.mapclassify.Equal_Interval(gdf[value_field], k = num_classes).bins.tolist()
    if classifier == 'Quantiles':
        threshold_scale=ps.esda.mapclassify.Quantiles(gdf[value_field], k = num_classes).bins.tolist()
    
    #Convert the GeoDataFrame to WGS84 coordinate reference system
    gdf_wgs84 = gdf.to_crs({'init': 'epsg:4326'})
    
    #Call Folium choropleth function, specifying the geometry as a the WGS84 dataframe converted to GeoJSON, the data as 
    #the GeoDataFrame, the columns as the user-specified id field and and value field.
    #key_on field refers to the id field within the GeoJSON string
    mapobj.choropleth(geo_data = gdf_wgs84.to_json(), data = gdf,
                columns = [id_field, value_field], key_on = 'feature.properties.{}'.format(id_field),
                fill_color = fill_color, fill_opacity = fill_opacity, line_opacity = line_opacity,  
                threshold_scale = threshold_scale, name=name)
    return mapobj

In [ ]:
pm25_map = folium.Map([41.8780, -93.0977], zoom_start = 6)
pm25_gdf['county_geometry']= pm25_gdf['county_geometry'].simplify(tolerance=.01)
pm25_gdf_subset_1 = pm25_gdf[pm25_gdf['year'] == 2010.0]
pm25_map = add_choropleth(pm25_map, pm25_gdf_subset_1, 'county_name','avg',name='pm25_2010',num_classes = 4, 
                         classifier = 'Quantiles',fill_color = 'Dark2',fill_opacity = 0.6 )
pm25_map

<a id='API'></a>
## 3 API

<a id='RESTCall'></a>
### 3.1 REST Call

In [4]:
import requests
import json
import pandas as pd
# Get EPA data

# census_geoids = pd.read_csv('census_tracts_2014.csv')
# census_tracts = [str(x) for x in list(census_geoids['census_tracts'])]
# census_tracts = [[x, -1, -1] for x in census_tracts]
json_post_payload = {"locations": 
                     {"zipcode": [["28202", -1, -1]],
                      "county":[[]],
                      "tract": [[]],
                      "address": [[]]
                     },
                     "time_range": {
        "start": "2008-01-01 00:00:00",
        "end": "2014-01-01 00:00:00"
    },
                     "data_req": {"EPA": [["5117", "Arithmetic_Mean"]], 
                                  "NOAA": [["3989", "AvgTemp"]],
                                  "ACS": [["110560", "100564", "90563", "80561"]]
}
}
r = requests.post("http://localhost:5002/data_query", json=json_post_payload)

In [7]:
df = pd.DataFrame(r.json()['data_response'])

In [8]:
df.head()

,data,data_id,datasource,datsource,dist_from,end_time,fact_identification,factname,measurement_id,measurement_title,measurement_type,measurement_units,parent_id,parent_shape_code,shape_id,start_time,timeframe
0,10.4,5117,EPA,NaN,5513.029875,2008-01-01 23:59:59,88101,PM2.5 - Local Conditions,88101,Arithmetic_Mean,Density,Micrograms/cubic meter (LC),88101,28202,2656356,2008-01-01 00:00:00,day
1,5.4,5117,EPA,NaN,5513.029875,2008-01-02 23:59:59,88101,PM2.5 - Local Conditions,88101,Arithmetic_Mean,Density,Micrograms/cubic meter (LC),88101,28202,2656356,2008-01-02 00:00:00,day
2,10.0,5117,EPA,NaN,5513.029875,2008-01-03 23:59:59,88101,PM2.5 - Local Conditions,88101,Arithmetic_Mean,Density,Micrograms/cubic meter (LC),88101,28202,2656356,2008-01-03 00:00:00,day
3,16.4,5117,EPA,NaN,5513.029875,2008-01-04 23:59:59,88101,PM2.5 - Local Conditions,88101,Arithmetic_Mean,Density,Micrograms/cubic meter (LC),88101,28202,2656356,2008-01-04 00:00:00,day
4,11.2,5117,EPA,NaN,5513.029875,2008-01-05 23:59:59,88101,PM2.5 - Local Conditions,88101,Arithmetic_Mean,Density,Micrograms/cubic meter (LC),88101,28202,2656356,2008-01-05 00:00:00,day

<a id='Melt'></a>
### 3.2 Format Data With Pandas

In [ ]:
# Run Melt Operations on Data

<a id='500CitiesHeatMap'></a>
## 4 Data Analysis with 500Cities Dataset

In [ ]:
# Link with 500 Cities Dataset
# Heatmap analysis

<a id='500CitiesModel'></a>
### 4.1 Linear Mixed Model

In [ ]:
# Do an LMM analysis